<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.png" alt="Fiscall logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Pretplatite se na bilten</p>
			<p>Primajte sjajne vijesti od nas u inbox svake dvije sedmice. Budite prvi koji će saznati o novim proizvodima.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Fiscall</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Naslovna</a></li>
					<li><a href="/products" class="link">Naši proizvodi</a></li>
					<li><a href="/values" class="link">O nama</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Saznajte više</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Elektronska fiskalizacija</a></li>
					<li><a href="/contact" class="link">Zakažite sastanak</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Društvene mreže</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
